.word-prewrap {
	white-space: pre-wrap;
	display: block;
}

.topBarWithDetails {
	padding-left: 100px;
	padding-top: 10px;
	display: block;
}

span.topBarWithDetails {
	font-size: 16px;
	color: green;
	font-style: italic;
}

button.ui-button span.ui-button-text {
	padding: .05em .4em;
}

.inlineTable {	
  display: inline-table;
}

div.inlineBlockWithBtn {  
	display: inline-block;
  	position: absolute;
  	padding-top: 5px;
}

div.inlineBlockWithBtn a {
	display: block;
  	padding-top: 5px;
}

table.centralTable {
	table-layout: fixed;
  	margin: auto;
}

div.centralDiv {
	text-align: center;
}

input.newAccount {
  position: relative;
  top: 30px;
}

.adminMenu {
	margin-left: 100px;
  	margin-top: 20px;
  	margin-right: auto;
}

.adminMenu div.ui-button {	
  margin-right: 50px;
}

input.newItemBtn {
	width: 50px;
  	height: 50px;
  	margin-left: 20px;
  	font-size: 40px;
}

.ui-widget-content a {
 	color: rgba(64, 94, 213, 0.75);
    font-style: italic;
}

.ui-widget label.centralLabel {
	display: block;
  	text-align: center;
  	font-size: 30px;
  	font-weight: bold;
  	font-style: italic;
  	color: black;
}

.minimalAmountBlk {	
	width: 400px;
  	display: inline-table;	
}

.bottomPadding {
	padding-bottom: 30px;
}