.word-prewrap {
	white-space: pre-wrap;
}

.topBarWithDetails {
	padding-left: 100px;
	padding-top: 10px;
	display: block;
}

span.topBarWithDetails {
	font-size: 16px;
	color: green;
	font-style: italic;
}

button.ui-button span.ui-button-text {
	padding: .05em .4em;
}

.inlineTable {	
  display: inline-table;
}

div.inlineBlockWithBtn {  
	display: inline-block;
  	position: absolute;
  	padding-top: 5px;
}

div.inlineBlockWithBtn a {
	display: block;
  	padding-top: 5px;
}

table.centralTable {
	position: relative;
  	top: 30px;
  	left: 25%;
}