.word-prewrap {
	white-space: pre-wrap;
	display: block;
}

td {
	padding: inherit;	
}

.resourceSlider {
 	position: relative;
  	top: 65px;
  	left: 14px;
}
table.resourceSlider td, table.resourceSlider td span input {
	width: 80px;
}

div.recipeBlock {
    margin: auto;
 	display: table;
}

.wholeLineTable {
	position: absolute;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	right: 0px;	
}

.topBarWithDetails {
	padding-left: 100px;
	padding-top: 10px;
	display: block;
}

span.topBarWithDetails {
	font-size: 16px;
	color: green;
	font-style: italic;
}

button.ui-button span.ui-button-text {
	padding: .05em .4em;
}

.inlineTable {	
  display: inline-table;
}

div.inlineBlockWithBtn {  
	display: inline-block;
  	position: absolute;
  	padding-top: 5px;
}

div.inlineBlockWithBtn a {
	display: block;
  	padding-top: 5px;
}

table.centralTable {
	table-layout: fixed;
  	margin: auto;
}

table.centralTable tr {
	padding-bottom: 10px;
}

div.centralDiv {
	text-align: center;
}

input.newAccount {
  position: relative;
  top: 30px;
}

.adminMenu {
	margin-left: 50px;
  	margin-top: 20px;
  	margin-right: auto;
}

.adminMenu div.ui-button {	
  margin-right: 30px;
}

input.newItemBtn {
	width: 50px;
  	height: 50px;
  	margin-left: 20px;
  	font-size: 40px;
}

.noBorderDiv {
	border: none;	
}

.rightMenu {
	
}

.topMenu {
	border-bottom: 3px solid rgba(144, 81, 10, 0.6);
  	background: #ffffff;
  	color: #333333;
}

.ui-widget-content a {
 	color: rgba(64, 94, 213, 0.75);
    font-style: italic;
}

.ui-widget label.centralLabel {
	display: block;
  	text-align: center;
  	font-size: 30px;
  	font-weight: bold;
  	font-style: italic;
  	color: black;
}

.minimalAmountBlk {	
	width: 400px;
  	display: inline-table;	
}

.bottomPadding {
	padding-bottom: 30px;
}

div.listboxItem div.ui-selectlistbox-listcontainer ul {
 	width: 200px;
  	height: 150px;
}

div.listboxItem div.ui-selectonelistbox {
 	width: 220px;
}

div.listboxItem {
  	margin-left: 30px;
}

.mainBanner_right {
	align: right;
	display: block;
	background-image: url("/resources/images/main_background_r.png");
	background-position-x: right;
	background-repeat: no-repeat;
	height: 120px;
}

.mainBanner_left {
	align: left;
	display: block;
	background-image: url("/resources/images/main_background_l.png");
	background-position-x: left;
	background-repeat: no-repeat;
	height: 120px;
}

.wideColumn {
	width: 70%;s
}

.loggedUserBlk {
	width: 490px;
  	margin-left: auto;
  	margin-right: 0px;
  	display: block;
}

.loggedUsrLbl {
	margin-top: 45px;
	display: inline-block;
	margin-left: 100px;
}

.loggedUsrLogoutLink {
	display: block;
    margin-left: 100px;
}

.loginBlock {
	margin-left: auto;
	margin-right: 0px;
	width: 700px;
}
.ui-tabs.ui-tabs-top.productTabs .ui-tabs-nav.ui-widget-header li {
	width: 250px;
  	margin: 0;
  	border-bottom-width: 0px;
}

.ui-tabs.ui-tabs-top.productTabs .ui-tabs-nav.ui-widget-header li.ui-tabs-selected {
	background-color: beige;
}

div.ui-layout-unit.ui-layout-pane-east div.ui-tabs.ui-widget.ui-tabs-top {
	border-bottom: none;
}

div.ui-layout-pane-east fieldset.ui-fieldset.ui-widget.ui-widget-content {
	margin-top: 15px;
}

.ui-widget-content .ui-inputfield.ui-state-error {
	border: 2.5px solid #E86175;
}